html, body {
    font-family: 'Source Code Pro', monospace;
    color: #f0f8ff;
    margin: 0;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
    overflow-y: auto;
    height: 100%;
    width: 100%; /* Убираем 99vw */
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./img/background.png') repeat;
    box-sizing: border-box; /* Исправляем ширину */
    background-color: rgba(255, 255, 255, 0.123);
}


.head {
    border-radius: 1px 1px 20px 20px;
    position: fixed;
    top: -1px;
    backdrop-filter: blur(2px); 
    background: rgba(0, 0, 0, 0.555); /* темный фон с прозрачностью */
    -webkit-backdrop-filter: blur(5.4px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 60px;
    width: 100%;
}



.account-btn {
    font: 0.4em sans-serif;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 15px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.basket-btn {
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 95px;
    height: 40px;
    width: 40px;
}


.bottom {
    position: absolute;
    top: 5000px;
    display: flex;
    height: 10vh;
    width: 100%; /* Убираем 99vw */
}

.bottom-p {
    border-radius: 10px 10px 1px 1px;
    background: black;
    height: 100px;
    width: 100%; /* Убираем 99vw */
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: #a9a9a9;
}

img {
    height: 40px;
    width: 40px;
}
